<!-- <button class="btn btn-primary" routerLink="/">Return </button> -->
<!-- <br>

<div class="row">
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Handball</h5>
                <div _ngcontent-jwq-c57="" style="position: absolute;z-index: 222222;top: 156px;left: 94px;-webkit-text-stroke: medium;color: #212529;">
                    <span _ngcontent-jwq-c57=""><a href="" [routerLink]="['equipe',1]"> test1</a></span>
                </div>

                <div _ngcontent-uwx-c57="" style="position: relative;top: 109px;right: -329px;-webkit-text-stroke: medium;color: #212529;">
                    <span _ngcontent-uwx-c57=""> <a href="" [routerLink]="['equipe',1]" > test2</a></span>
                </div>
                <p class="card-text"><img _ngcontent-uug-c57="" _ngcontent-rfl-c57="" src="assets/images/vs.jpg" style="width: 450px;height: 198px;" class=""></p>
                <a href="" class="btn btn-danger mr-4" [routerLink]="['delete']">Delete </a>
                <a href="" class="btn btn-secondary" [routerLink]="['update']">Update</a>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Handball</h5>
                <div _ngcontent-jwq-c57="" style="position: absolute;z-index: 222222;top: 156px;left: 94px;-webkit-text-stroke: medium;color: #212529;">
                    <span _ngcontent-jwq-c57=""><a href="" [routerLink]="['equipe',1]"> test1</a></span>
                </div>

                <div _ngcontent-uwx-c57="" style="position: relative;top: 109px;right: -329px;-webkit-text-stroke: medium;color: #212529;">
                    <span _ngcontent-uwx-c57=""> <a href="" [routerLink]="['equipe',1]"> test2</a></span>
                </div>
                <p class="card-text"><img _ngcontent-uug-c57="" _ngcontent-rfl-c57="" src="assets/images/vs.jpg" style="width: 450px;height: 198px;" class=""></p>
                <a href="" class="btn btn-danger mr-4" [routerLink]="['delete']">Delete </a>
                <a href="" class="btn btn-secondary" [routerLink]="['update']">Update </a>
            </div>
        </div>
    </div>
</div> -->

<fieldset>
    <legend>Categories</legend>
    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Football</h5>
                    <p class="card-text"><img _ngcontent-rfl-c57="" src="assets/images/football.jpg" style="width: 450px;"></p>
                    <!-- <a href="" class="btn btn-primary mr-4" [routerLink]="['tournoi']">Tournoi </a> -->
                    <a href="" class="btn btn-primary" [routerLink]="['/admin/consultMatch/type/','football']">View Matchs</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Handball</h5>
                    <p class="card-text"><img _ngcontent-uug-c57="" _ngcontent-rfl-c57="" src="assets/images/handball.jpg" style="width: 450px;height: 198px;" class=""></p>
                    <!-- <a href="" class="btn btn-primary mr-4" [routerLink]="['tournoi']">Tournoi </a> -->
                    <a href="" class="btn btn-primary" [routerLink]="['/admin/consultMatch/type/','handball']">View Matchs</a>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Tenis</h5>
                    <p class="card-text"><img _ngcontent-uug-c57="" _ngcontent-rfl-c57="" src="assets/images/tenis.jpg" style="width: 450px;height: 198px;" class=""></p>
                    <!-- <a href="" class="btn btn-primary mr-4" [routerLink]="['tournoi']">Tournoi </a> -->
                    <a href="" class="btn btn-primary" [routerLink]="['/admin/consultMatch/type/','tenis']">View Matchs</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">BasketBall</h5>
                    <p class="card-text"><img _ngcontent-uug-c57="" _ngcontent-rfl-c57="" src="assets/images/course.jpg" style="width: 450px;height: 198px;" class=""></p>
                    <!-- <a href="" class="btn btn-primary mr-4" [routerLink]="['tournoi']">Tournoi </a> -->
                    <a href="" class="btn btn-primary" [routerLink]="['/admin/consultMatch/type/','basketBall']">View Matchs</a>
                </div>
            </div>
        </div>
    </div>
</fieldset>