<div class="container">
    <fieldset>
        <legend>Add Produit</legend>
        <div class="row">
            <div class="col col-sm-6">
                <div class="form-label">Nom Produit</div>
                <input type="text" class="form-control">
            </div>
        </div>
        <div class="row">
            <div class="col col-sm-6">
                <div class="form-label">Nom Produit</div>
                <input type="text" class="form-control">
            </div>
        </div>
        <div class="row">
            <div class="col  col-lg-6">
                <button class="btn btn-success m-3">Add</button>
                <button class="btn btn-danger">Cancel</button>

            </div>
        </div>
    </fieldset>
</div>